/*------------------------------------------------------------------
[Master Stylesheet]

Project:        Edigitaal
Version:        1.0
Last change:    08.06.2025
Primary use:    WordPress Theme
Author:         ThemeMascot
URL:            https://themeforest.net/user/ThemeMascot
-------------------------------------------------------------------*/

// Table of contents
@import "scss-core/table-of-content";

// Import bootstrap variables and mixins for reference
@import "scss-bootstrap/functions";
@import "scss-bootstrap/variables";
@import "scss-bootstrap/mixins";

// root typo
@import "root-typography";

// Initialize Variables
@import "scss-core/mixins/transform";
@import "scss-core/mixins/mixins";
@import "scss-core/mixins/mixins2";
@import "scss-core/variables";

// Typography
@import "scss-core/reset";
@import "scss-core/typography";

// Common Styles
@import "scss-core/common";
@import "scss-core/container";
@import "scss-core/elementor/loader";
@import "scss-core/overlay";

// Header
@import "scss-core/header/loader";

// Content Blocks
@import "scss-core/page-title";
@import "scss-core/boxed-layout";
@import "scss-core/form";
@import "scss-core/isotope-layout";
@import "scss-core/swiper-slider";
@import "scss-core/sliders";
@import "scss-core/404";
@import "scss-core/menu-unit-test";
@import "scss-core/archive";
@import "scss-core/blog/loader";
@import "scss-core/page";
@import "scss-core/parts/parts";
@import "scss-core/box-hover-effect";

// Shortcodes
@import "scss-core/shortcodes/loader";

// Widgets
@import "scss-core/widgets/loader";

// animation
@import "scss-core/animation/loader";

// wordpress default css loader
@import "scss-wordpress/loader";

// Footer
@import "scss-core/footer/loader";

// override
@import "scss-override/loader";

// custom bootstrap margin padding
@import "scss-core/responsive";
