.post-excerpt {
  .wp-block-archives {
    margin-bottom: 30px;
    li {
      margin-bottom: 10px;
    }
  }
}
.wp-block-categories-list, .wp-block-page-list, .wp-block-page-list li {
  list-style: none;
}